body{
     background: green;
} 

h1{
    color: white;
    text-align: center;
}
.b1{
    background: rgb(24, 22, 134) ;
}

.m1{
    border: 8px solid red;
    width: 300px;
    margin: auto;
    padding: 28px;
    text-align: center;
    background: rgb(196, 159, 37);
}
input{
    width: 200px;
    height: 30px;
    border-radius: 8px;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.b2
{
    background: blue;
    color: white;
    font-weight: bold;
    border-radius: 18px;
    width: 200px;
    height: 40px;
}